<article class="container node basic-page">

    <div class="img-responsive">
        {{ content.field_visuel.0 }}
    </div>

    {{ label }}

    <div class="node-body">
        {{ content.body.0 }}
    </div>

</article>
