{#
/**
 * @file
 * Theme override to display a node Actualite.
 *
 */
#}
<article class="container node actualite">
    <figure class="img-container">
        {{ content.field_visuel.0 }}
        {% if content.field_visuel_legende.0 %}
            {{ content.field_visuel_legende }}
        {% endif %}
    </figure>

    {{ label }}

    <div class="node-body">
        {{ content.body.0 }}
    </div>
</article>
