/*** BLOCKS ***/
/* LOGOS */
div#block-bloch-marquedusite {
    margin:11px 0 0 11px;
}

/* MENU PRINCIPAL */
div#block-bloch-menuprincipalpublic-2 {
    font-weight: 300;
}
// Get rid of <a> padding
ul.sf-menu a, ul.sf-menu span.nolink {
    padding: 0 .6em;
}
div#block-bloch-menuprincipalpublic-2 a {
    line-height: 84px;
    font-size: 16px;
}

// link + hovers pour les deux menus du header
div#block-bloch-menuprincipalpublic-2 a:link,
nav#block-menuducomptedelutilisateur a:link {
    text-decoration: none;
    color: #000;
}
div#block-bloch-menuprincipalpublic-2 a:visited,
nav#block-menuducomptedelutilisateur a:visited {
    text-decoration: none;
    color: #000;
}
div#block-bloch-menuprincipalpublic-2 a:hover,
nav#block-menuducomptedelutilisateur a:hover {
    text-decoration: underline;
}
div#block-bloch-menuprincipalpublic-2 a:focus,
nav#block-menuducomptedelutilisateur a:focus {
    text-decoration: underline;
}

/* MENU CONNEXION UTILISATEUR */
nav#block-menuducomptedelutilisateur {
    margin-left: 11px;
}
nav#block-menuducomptedelutilisateur ul {
    list-style: none;
}
nav#block-menuducomptedelutilisateur li {
    display: inline-block;
    line-height: 82px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 .6em;
}

/* PRESENTATION CENTRE PAGE D'ACCUEIL*/
article#front-content h1 {
    display: block;
    font-family: 'Public Sans';
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 24px 0;
}
article#front-content h2 {
    display: block;
    font-family: 'Public Sans';
    font-size: 16px;
    font-weight: 800;
    margin: 0 0 16px 0;
}
article#front-content p {
    font-size: 18px;
    font-weight: 300;
    max-width: 62ch;
    line-height: 1.5em;
}
article#front-content nav {
    display: inline-block;
    vertical-align: top;
    margin: 28px @goldenWidth6 0 0;
}
article#front-content ul {
    list-style: circle;
    padding-left: 20px;
}
article#front-content ul li {
    line-height: 1.33em;
}
article#front-content ul li a {
    font-weight: 300;
}
article#front-content ul li a:link {
    text-decoration: none;
    color: #000;
}
article#front-content ul li a:hover {
    text-decoration: underline;
    color: #000;
}


/* Bloc de recherche page d'accueil */
article#front-content form {
    width: @goldenWidth2 - (@goldenWidth6 * 2);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

article#front-content input.form-search {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 340px;
    height: 50px;
    background: #FFF;
    font-size: 16px;
    color: #000;
    padding-left: 20px;
    margin: 34px 16px 20px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #EEE;
}

article#front-content input.form-submit {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 10px 15px;
    margin: 34px 0 20px 0;
    height: 50px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #EEE;
    color: #AAA;
}
article#front-content input.form-submit:hover {
    cursor: pointer;
}