/**
 * Global
 *
 * Style rules meant to apply on most pages of the website
 */

* {
	vertical-align:top;
	box-sizing:border-box;
}
body {
        .font-sans-serif();
        line-height:1.75;
}
img {
        max-width:100%;
}
.main-container.container {
        width:auto;
        margin:0;
        padding:0;
}
.region.region-content {
        padding:3vw 5vw;
}
a, a:hover, a:focus {
        color:@couleurlien;
}


