/**
 * Global
 *
 * Style rules meant to apply on most pages of the website
 */
* {
  /* Overwrite browser defaults for some elements */
  margin:0;
  padding:0;
  //vertical-align:top;
  //box-sizing:border-box;
}

body {
  //.font-sans-serif();
  //line-height:1.75;
  -webkit-font-smoothing: antialiased;
  font-family: 'Public Sans';
}
img {
  /* We make sure that images don't overflow their parent */
  //max-width:100%;
}
/*
.main-container.container {
  width:auto;
  margin: 10px 0 0;
  padding:0;
}
.region.region-content {
  padding:3vw 5vw;
}
a, a:hover, a:focus {
  color:@couleurlien;
}

p {
  margin:20px 0;
}

/* Container for an image and its caption 
figure {
  margin:0;
  position:relative;
  display:inline-block;

  /* Display of the image caption in the corner 
  figcaption {
    position:absolute;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.6);
    color:white;
    opacity:0.6;
    padding:3px 9px;
    font-size:0.9em;
    cursor:default;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;

    &:hover {
      opacity:1;
    }
  }
}

/* Responsive 

// Small devices (phones, below 768px)
@media (max-width: @breakpoint-md) {
  .hidden-sm {
    display:none;
  }
  .visible-md {
    display:none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: @breakpoint-md) {
  .visible-sm {
    display:none;
  }
  @media (max-width: @breakpoint-lg) {
    .hidden-md {
      display:none;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: @breakpoint-lg) {
  .visible-md {
    display:none;
  }
  @media (max-width: @breakpoint-xl) {
    .hidden-lg {
      display:none;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: @breakpoint-xl) {
  .hidden-xl {
    display:none;
  }
}

/*** FLEX CLASSES ***/
.header-flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.header-flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.header-flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}