/**
 * Nodes content
 *
 * Style rules applied on the content display of the various nodes
 */

/* Conteneur principal */
article {
  padding:0 4%;
}

/* Titres
 * h1, h2 et h3 sont réservés pour la structure du site ; h4, h5 et h6 sont à disposition des éditeurs de contenu
 */
h1, h2, h3, h4, h5, h6 {
	font-weight:500;
	line-height:1.1;
}
h1 {
    .font-serif();
    font-size:3.33em;
	margin:0 0 30px 0;
}
h2 {
    .font-serif();
    font-size:2.5em;
	margin:15px 0 30px 0;
}
h3 {
	font-size: 2em;
	margin:34px 0 22px 0;
}
h4 {
    margin: 34px 0 10px;
    font-size:1.66em;
	border-top: 3px solid #9c09db;
	padding-top: 10px;
}
h5 {
    margin:34px 0 18px;
    font-size:1.33em;
}
h6 {

}

.col-left {
	display:inline-block;
	width:100% - (@goldenWidth + @goldenWidth5);
    padding:1px 2.5vw 20px 1.5vw;
}
.col-right {
	display:inline-block;
	width:@goldenWidth + @goldenWidth5;
	margin-left:-4px;
}

/* Colonne d'infos */
.col-infos {
	padding: 1px 1.5vw 20px 1.5vw;
	background-color: #f5f5f5;
	border-left: 4px solid @couleur1;
	margin-bottom: 50px;

	.infos-bloc {
		margin: 20px 0;
	}
	.infos-bloc-icone {
		color:@couleur1;
		min-width: 40px;
		width:3vw;
		display: inline-block;
		text-align: center;
		vertical-align:text-top;
		font-size: 1.33em;
	
		.fa {
			margin-top: 0em;
		}
	}
	.infos-bloc-texte {
		width: 75%;
		display: inline-block;
		word-wrap: break-word;
		font-size: 0.9em;
	
		ul {
			margin: 0;
		}
	}
	.infos-intitule {
		color:@couleur1;
		font-weight: bold;
	}

	ul {
		list-style: none;
		padding-left: 20px;

		li::before {
			content: "\2022";
			color: @couleur1;
			font-size: 1.6em;
			line-height: 0;
			font-weight: bold;
			display: inline-block;
			width: 0.75em;
			margin-left: -0.75em;
		}
	}
}

/* Texte */
.node-description {
	max-width:75ch;

	.exergue {
        	font-size:1.15em;
	        border-left:4px solid @couleur1;
        	padding-left: 2ch;
	}
}

.node-partage {
	a {
		font-size:2.66em;
		transition: color 0.2s linear;
		display: inline-block;
		margin-right: 30px;

		&:hover {
			color:black;
		}
	}
}

.node-mot-cle {
	text-align: right;
	opacity: 0.75;
	font-size: 1.15em;
}