/*** REGIONS ***/
header#main-header {
    width: 100%;
    border-bottom: solid 1px #EEE;
    font-style: normal;
    background-color: #fafafa;
}

article#front-content {
    display: inline-block;
    vertical-align: top;
    width: @goldenWidth2 - @goldenWidth7;
    padding: @fibSeq2BlancHeight3 @goldenWidth6 @fibSeq2BlancHeight5 @goldenWidth6;
    border-right: solid 1px #EEE;
    background-color: #fafafa;
}

aside#front-content-aside {
    display: inline-block;
    vertical-align: top;
    width: @goldenWidth - @goldenWidth4;
}