<header id="main-header" class="header-flex-container" role="banner" aria-label="{{ 'Site header'|t }}">
{{ page.header }}
</header>
<main role="main">
<a id="main-content" tabindex="-1"></a>
{{ page.content }}
<footer>
{{ page.footer }}
</footer>