<header id="main-header" class="header-flex-container" role="banner" aria-label="{{ 'Site header'|t }}">
{{ page.header }}
</header>
<main role="main">
<a id="main-content" tabindex="-1"></a>
{{ drupal_view('taxonomy_term', 'page_taxonomie_terme_generique') }}
</main>
<footer>
{{ page.footer }}
</footer>